body {
  --foreground: #76A0CA;
  --primary: #1caff2;
  --secondary: #fff;
  --tertiary: #526e89;

  font-family: Avenir;
  height: 100vh;
  background-color: #14181D; color: var(--foreground);
  text-align: center;
  vertical-align: middle;;
}

body, html {
  overflow: hidden;
  height: 100%;
}

#heart-progress{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
  width: 100%;
  height: 10vh;
}

#img-logo {
  height: 5vh;
}

#forum {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#formsubmit {
  display: flex;
  justify-content: center;
  gap: 0px;
  height: 50px;
  color: var(--secondary);
}

#usernameInput {
  padding-left: 10px;
  width: 40vw;
  max-width: 350px;
  font-size: 20px;
}

#FetchButton {
  background-color: var(--secondary);
  padding: 0px;
  width: 10vw;
  font-size: 20px;
}

#FetchButton:hover {
  background-color: var(--primary)
}

#filter {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 40vw;
  margin: auto;
}

select {
  flex: 1;
  border: 2px solid var(--tertiary);
  background: var(--secondary);
  padding: 10px;
  transition: 0.4s;
}
select:hover {
  background: var(--primary);
}

option {
  gap: 20px;

  background: var(--secondary);
  padding: 10px;
  transition: 0.4s;
}
option:hover {
  background: var(--primary);
}

footer {
  margin-top: 50vh;
  text-align: center;
}
