body {
  --foreground: #76A0CA;
  --primary: #1caff2;
  --secondary: #fff;
  --tertiary: #526e89;

  font-family: Avenir;
  height: 100%;
  width: 100%;
  background-color: #14181D; color: var(--foreground);
  text-align: center;
  vertical-align: middle;
  justify-content: center;
  margin: 0px;
}

.select-text {
  font-size: 1rem;
  margin-top: 5px;
  margin-bottom: 0px;
}

#movieinfo {
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-height: 50vh;
  height: 100%;
  min-height: 50vh;
  max-width: 30vh;
}

#poster {
  height: 80%;
  min-height: 80%;
  max-height: 80%;
}

.movie-subtext {
  font-size: 1.2vh;
  height: 30%;
  margin-top: 0px;
  margin-bottom: 0px;
}

#container {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  max-height: 100%;
  max-width: 100%;
  overflow: auto;
  margin: auto;
}



#heart-progress{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-right: auto;
  width: 100%;
  height: 10vh;
}

#img-logo {
  height: 5vh;
}


#forum {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#formsubmit {
  display: flex;
  justify-content: center;
  gap: 0px;
  margin-top: 0.5rem;
  height: 1.5rem;
  color: var(--secondary);
  font-size: 1rem;
}

#usernameInput {
  padding-left: 10px;
  width: 8rem;
  font-size: 1rem;
}

#FetchButton {
  background-color: var(--secondary);
  padding: 0px;
  width: 4.8rem;
  font-size: 1rem;
}

#FetchButton:hover {
  background-color: var(--primary)
}

#filter {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 10rem;
}

.filter-div {
  gap: 0px;
}

select {
  flex: 1;
  border: 2px solid var(--tertiary);
  background: var(--secondary);
  padding: 2px;
  height: 2rem;
  width: 10rem;
  transition: 0.4s;
}
select:hover {
  background: var(--primary);
}

option {
  gap: 20px;

  background: var(--secondary);
  padding: 10px;
  transition: 0.4s;
}
option:hover {
  background: var(--primary);
}

footer {
  justify-content: bottom middle;
}


