<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <div id="movieinfo" hidden>
    <img id="poster" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRlSKgC1uzbi2-7ObpSfZdcxLHrvLVUVRF5cQ&s" alt"">
    <p id="movie-name"></p>
    <p id="movie-genre"></p>
    <p id="movie-length"></p>
    <p id="movie-rating"></p>
  </div>
  <div id="divsubmition">
    <input id="usernameInput" type="text" name="username" size=100>
    <input id="FetchButton" type="button" name="Submit" value="Submit">
  </div>
  <script src="{{ url_for('static', filename='mainscript.js')}}"></script>
</body>
</html>
