<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <div id="movieinfo" hidden>
    <img id="poster" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRlSKgC1uzbi2-7ObpSfZdcxLHrvLVUVRF5cQ&s" alt"">
    <p id="movie-name"></p>
    <p id="movie-genre"></p>
    <p id="movie-length"></p>
    <p id="movie-rating"></p>
  </div>
  <div id="banner">
    <img id="img-banner" src="ihttp://media.istockphoto.com/id/1150885361/photo/cat-karate-doing-exercises.jpg?s=612x612&w=0&k=20&c=ZVW8-NosD1y9bpiJpttBEedRvZ7Kx2vapwDrvNx4mPE=">
  </div>
  <form id="formsubmit">
    <input id="usernameInput" type="text" name="username" size=100>
    <select id="genreSelect" name=Genre default="All">
      <option value="All">All</option>
      <option value="Action">Action</option>
      <option value="Adventure">Adventure</option>
      <option value="Animation">Animation</option>
      <option value="Biography">Biography</option>
      <option value="Comedy">Comedy</option>
      <option value="Crime">Crime</option>
      <option value="Drama">Drama</option>
      <option value="Family">Family</option>
      <option value="Fantasy">Fantasy</option>
      <option value="History">History</option>
      <option value="Horror">Horror</option>
      <option value="Music">Music</option>
      <option value="Mystery">Mystery</option>
      <option value="Romance">Romance</option>
      <option value="Sci-Fi">Sci-Fi</option>
      <option value="Thriller">Thriller</option>
      <option value="War">War</option>
      <option value="Western">Western</option>
    </select>
    <select id="ratingSelect" name="Rating" default="All">
      <option value="All">All</option>
      <option value="1">1</option>
      <option value="2">2</option>
      <option value="3">3</option>
      <option value="4">4</option>
      <option value="5">5</option>
      <option value="6">6</option>
      <option value="7">7</option>
      <option value="8">8</option>
      <option value="9">9</option>
      <option value="10">10</option>
    </select>
    <input id="FetchButton" type="button" name="Submit" value="Submit">
  </form>
  <script src="{{ url_for('static', filename='mainscript.js')}}"></script>
</body>
</html>
